.navbar{
border-bottom: 1px solid black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 18px 18px;
height: 70px;
color: white;
background-image: linear-gradient(to left, #A20292, #520049 ) ;
}

.navbar h2{
  font-size: 14px;
}
