.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 18px 18px;
height: 70px;
color: white;
background-image: linear-gradient(to left, #A20292, #520049 ) ;
}

.navbar h2{
font-size: 14px;
}

.left--nav{
display: flex;
align-items: center;
}

.left--nav h1 {
padding-left:14px;
}

.input--div{
display: flex;
margin-top: 100px;
justify-content: center;
}

.face--icon{
font-size:40px;
}

.form1{
margin-right:28px;
}

.form1, .form2{
padding:14px 14px 14px 14px;
width:400px;
border-radius: 4px;
border: 1px solid #D5D4D8;
}


.button-div{
margin-top:50px;
display: flex;
justify-content: center;
}

.form--button {
font-size: 20px;
border: 1px solid #D5D4D8;
border-radius: 8px;
width: 900px;
height:60px;
cursor:pointer;
color:white;
background-image: linear-gradient(to left, #A20292, #520049 )
}


.meme {
display: flex;
justify-content: center;
padding-top:20px;

}

.meme--image {
position:relative;
width: 500px;
height: 400px;
object-fit:cover;
margin-bottom: 100px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 485;
}
